<div class="flex bg-dark-gray gap-6 h-4/6 px-6 py-12">
  <div class="flex flex-col gap-3 w-1/2">
    <h1 class="text-3xl text-white font-bold">
      {{ featuredProduct?.productName }}
    </h1>
    <p class="text-base h-1/2 overflow-y-hidden text-gray-400 font-medium">
      {{ featuredProduct?.description }}
    </p>
  </div>

  <div class="flex items-center w-1/2">
    <img
      class="w-9/12 mx-auto rounded-lg object-contain"
      [src]="(featuredProduct?.productImages)![0]"
      alt=""
    />
  </div>
</div>
