<div class="flex bg-gray-100 h-full items-center justify-between">
  <div class="bg-white mx-auto p-5 rounded-lg grid gap-14">
    <h1 class="text-4xl font-bold text-center text-dark-blue">
      {{ mode === "login" ? "Login" : "Signup" }}
    </h1>
    <form
      (submit)="onAuth(authForm)"
      #authForm="ngForm"
      class="space-y-6 text-white"
    >
      @if(mode == 'signup') {
      <div class="relative">
        <div
          class="absolute top-0.5 left-1 rounded-full p-2 flex items-center justify-center text-dark-blue"
        >
          <label for="userName">
            <mat-icon
              class="cursor-pointer"
              aria-hidden="false"
              aria-label="Example person icon"
              fontIcon="person"
            ></mat-icon>
          </label>
        </div>
        <input
          id="userName"
          ngModel
          required
          #userName="ngModel"
          name="userName"
          type="text"
          placeholder="User Name"
          class="w-80 bg-gray-100 text-dark-blue py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
        />
      </div>
      }
      <div class="relative">
        <div
          class="absolute top-0.5 left-1 rounded-full p-2 flex items-center justify-center text-dark-blue"
        >
          <label for="emailAddress">
            <mat-icon
              class="cursor-pointer"
              aria-hidden="false"
              aria-label="Example mail icon"
              fontIcon="mail"
            ></mat-icon>
          </label>
        </div>
        <input
          ngModel
          email
          required
          id="emailAddress"
          #emailAddress="ngModel"
          name="emailAddress"
          type="email"
          placeholder="Email Address"
          class="w-80 bg-gray-100 text-dark-blue py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
        />
      </div>
      <div class="relative">
        <div
          class="absolute top-0.5 left-1 rounded-full p-2 flex items-center justify-center text-dark-blue"
        >
          <label for="password">
            <mat-icon
              for="passowrd"
              class="cursor-pointer"
              aria-hidden="false"
              aria-label="Example lock icon"
              fontIcon="lock"
            ></mat-icon>
          </label>
        </div>
        <input
          id="password"
          required
          ngModel
          #password="ngModel"
          name="password"
          type="password"
          placeholder="Password"
          class="w-80 bg-gray-100 text-dark-blue py-2 px-12 rounded-full focus:bg-black-dark focus:outline-none focus:ring-1 focus:ring-neon-blue focus:drop-shadow-lg"
        />
      </div>
      <div class="flex items-center gap-2 justify-between">
        <button
          type="submit"
          class="bg-gradient-to-r from-blue-400 to-cyan-200 w-full hover:to-cyan-500 font-semibold rounded-full py-2"
        >
          {{ mode == "login" ? "Login" : "Signup" }}
        </button>
        @if(loading) {
        <div>
          <app-load-spinner></app-load-spinner>
        </div>
        }
      </div>
    </form>
    <div class="border-t border-white-light pt-4 space-y-4 text-sm">
      <p (click)="onChangeMode()" class="text-dark-blue">
        {{
          mode == "login"
            ? "Don't have an account?"
            : "Already have an account?"
        }}
        <a class="text-dark-gray font-semibold cursor-pointer">{{
          mode == "login" ? "Signup" : "Login"
        }}</a>
      </p>
    </div>
  </div>
</div>
