<section class="flex bg-gray-100 h-full pt-4">
  <div class="mx-auto w-full px-6">
    <h1 class="text-2xl text-dark-blue font-bold mb-8">All Products</h1>
    @if(loading) {
    <div class="flex bg-transparent items-center gap-2 justify-between">
      <app-bar-spinner></app-bar-spinner>
    </div>
    } @else {
    <div class="grid grid-cols-2 gap-6 lg:grid-cols-4 lg:gap-4">
      @for(product of products; track product.id) {
      <div
        (mouseenter)="onMouseEnter(product.id)"
        (mouseleave)="onMouseLeave(product.id)"
        class="w-56 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <div class="relative">
          <img
            src="Organic.svg"
            alt="Product"
            class="h-52 w-72 object-cover rounded-t-xl"
          />
          @if(iconsShowing.has(product.id)) {

          <div class="cursor-pointer icons-container" [@showHideIcons]="state">
            <div
              class="cursor-pointer bg-gray-100 px-3 pt-3 pb-1 rounded-md hover:px-4 hover:pt-4 hover:pb-2"
            >
              @if(wishedProducts.includes(product.id)) {
              <mat-icon
                (click)="onRemoveFromWhishlist(product.id)"
                aria-hidden="false"
                aria-label="Example close icon"
                fontIcon="close"
              ></mat-icon>
              } @else {
              <mat-icon
                (click)="onAddToWhishlist(product.id)"
                aria-hidden="false"
                aria-label="Example favorite icon"
                fontIcon="favorite"
              ></mat-icon>
              }
            </div>
            <div
              class="cursor-pointer bg-gray-100 px-3 pt-3 pb-1 rounded-md hover:px-4 hover:pt-4 hover:pb-2"
            >
              <mat-icon
                class=""
                (click)="onAddToCart(product)"
                aria-hidden="false"
                aria-label="Example local_mall icon"
                fontIcon="local_mall"
              ></mat-icon>
            </div>
            <div
              class="cursor-pointer bg-gray-100 px-3 pt-3 pb-1 rounded-md hover:px-4 hover:pt-4 hover:pb-2"
            >
              <mat-icon
                class=""
                (click)="onViewProduct(product.id)"
                aria-hidden="false"
                aria-label="Example visibility"
                fontIcon="visibility"
              ></mat-icon>
            </div>
          </div>
          }

          <div class="px-3 py-1">
            <p
              routerLink="/cart"
              (click)="onViewProduct(product.id)"
              class="cursor-pointer text-base font-semibold text-dark-blue truncate block capitalize"
            >
              {{ product.productName }}
            </p>
            <div class="flex items-center">
              <p class="text-sm font-medium text-dark-blue cursor-auto">
                Rp {{ product.priceInPKR }}
              </p>
              <del>
                <p class="text-sm text-gray-500 cursor-auto ml-2">Rp 199</p>
              </del>
              <div class="ml-auto">
                <mat-icon
                  class="cursor-pointer"
                  (click)="onAddToCart(product)"
                  aria-hidden="false"
                  aria-label="Example shopping_cart icon"
                  fontIcon="shopping_cart"
                ></mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</section>
